In [1]:
import pymysql
import pandas as pd

In [2]:
db = pymysql.Connect("localhost", "root", "root", "testdb", charset='UTF8')

In [3]:
cursor = db.cursor()

In [18]:
sql = "SELECT substr(t.lzc, 6, LENGTH(t.lzc)-5) as stake from t_gd_congest t \
WHERE substr(t.insert_time, 1, 10) = '2018-02-21' \
AND t.road_name='S06宿登高速'"

In [19]:
cursor.execute(sql)
restult = cursor.fetchall()

res_dict = []
for field in cursor.description:
    res_dict.append(field[0])

In [20]:
raw_res = pd.DataFrame(list(restult), columns=res_dict)

In [23]:
fin_res = raw_res.drop_duplicates()

In [25]:
fin_res = fin_res.reset_index(drop=True)

In [26]:
fin_res

   stake
0     26
1    111
2      9
3    112
4     21
5     30
6    109
7     27
8     39
9     48
10    98
11     5
12     1
13    44

In [27]:
fin_res['stake']

0      26
1     111
2       9
3     112
4      21
5      30
6     109
7      27
8      39
9      48
10     98
11      5
12      1
13     44
Name: stake, dtype: object

In [46]:
 s = list((fin_res['stake'])

TypeError: cannot convert the series to <class 'int'>

In [45]:
s

['0',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2',
 '6',
 '\n',
 '1',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1',
 '1',
 '1',
 '\n',
 '2',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '9',
 '\n',
 '3',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1',
 '1',
 '2',
 '\n',
 '4',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2',
 '1',
 '\n',
 '5',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '3',
 '0',
 '\n',
 '6',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1',
 '0',
 '9',
 '\n',
 '7',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2',
 '7',
 '\n',
 '8',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '3',
 '9',
 '\n',
 '9',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '4',
 '8',
 '\n',
 '1',
 '0',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '9',
 '8',
 '\n',
 '1',
 '1',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '5',
 '\n',
 '1',
 '2',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1',
 '\n',
 '1',
 '3',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '4',
 '4',
 '\n',
 'N',
 'a',
 'm',
 'e',
 ':',
 ' ',
 's',
 't',
 'a',
 'k',
 'e',
 ',',
 ' ',
 'd',
 't',
 'y',
 'p',
 'e',
 ':',
 ' ',
 'o',
 'b',
 'j',
 'e',
 'c',
 't']

In [43]:
sorted(s)

['1',
 '109',
 '111',
 '112',
 '21',
 '26',
 '27',
 '30',
 '39',
 '44',
 '48',
 '5',
 '9',
 '98']